/* custom range input styling  */
input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  height: 1.75rem;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: var(--spacing-100);
  background-color: var(--color-grey-850);
}

input[type='range']::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  height: var(--spacing-100);
  background-color: var(--color-grey-850);
}

input[type='range']::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(--spacing-100);
  background-color: var(--color-grey-850);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
  background-color: var(--color-grey-200);
  cursor: pointer;
  position: relative;
  bottom: 0.625rem;
}
input[type='range']::-webkit-slider-thumb:active,
input[type='range']::-webkit-slider-thumb:hover {
  border: 2px solid var(--color-green-200);
  background-color: var(--color-grey-850);
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
  background-color: var(--color-grey-200);
  cursor: pointer;
  bottom: 0.625rem;
}
input[type='range']::-moz-range-thumb:active,
input[type='range']::-moz-range-thumb:hover {
  border: 2px solid var(--color-green-200);
  background-color: var(--color-grey-850);
}

input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
  background-color: var(--color-grey-200);
  cursor: pointer;
  bottom: 0.625rem;
}
input[type='range']::-ms-thumb:active,
input[type='range']::-ms-thumb:hover {
  border: 2px solid var(--color-green-200);
  background-color: var(--color-grey-850);
}

/* custom checkbox styling */
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-grey-200);
  border: 0.125rem solid var(--color-grey-200);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type='checkbox']::before {
  content: '';
  width: inherit;
  height: inherit;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-image: url('assets/images/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-green-200);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
  color: var(--color-green-200);
}

input[type='checkbox']:focus-visible,
input[type='checkbox']:hover {
  outline: none;
  border-color: var(--color-green-200);
}
