@import url('reset.css');

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/static/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/static/JetBrainsMono-BoldItalic.ttf')
    format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-950: hsl(255, 22%, 4%);
  --color-grey-900: hsl(248, 17%, 9%);
  --color-grey-850: hsl(248, 15%, 11%);
  --color-grey-800: hsl(248, 10%, 15%);
  --color-grey-700: hsl(248, 5%, 34%);
  --color-grey-600: hsl(251, 9%, 53%);
  --color-grey-200: hsl(252, 11%, 91%);
  --color-green-200: hsl(127, 100%, 82%);
  --color-yellow-300: hsl(42, 91%, 68%);
  --color-orange-400: hsl(13, 95%, 66%);
  --color-red-500: hsl(0, 91%, 63%);
  --color-black-gradient: linear-gradient(
    to right,
    hsl(248, 17%, 9%),
    hsl(255, 22%, 4%)
  );
  /* typography */
  --font-family-base: 'JetBrains Mono', monospace;
  --font-weight-bold: 700;
  --font-size-base: 16px;
  --line-height-base: 1.25;
  /* border radius */
  --radius-full: 50%;
  /* spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-700: 3.5rem;
  --spacing-1000: 5rem;
  --spacing-1300: 6.5rem;
  --spacing-1600: 8rem;
  --spacing-2000: 10rem;
  --spacing-2200: 11rem;
  --spacing-2300: 11.5rem;
}

html {
  box-sizing: border-box;
  background-color: var(--color-grey-950);
  color: var(--color-grey-200);
  font: var(--font-weight-bold) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

main {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: var(--spacing-200); */
}

.app-title {
  font-size: 1rem;
  color: var(--color-grey-600);
}

.main-container {
  width: 100%;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--spacing-200);
  background-color: var(--color-grey-800);
  padding: var(--spacing-200);
  color: var(--color-grey-700);
  font-size: 1.5rem;
  line-height: 2rem;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  margin: var(--spacing-200);
  background-color: var(--color-grey-800);
  padding: var(--spacing-200);
  color: var(--color-grey-200);
}

.character-length-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-100);
}

.label-with-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character-length-value {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color-green-200);
}

.format-options-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  border: none;
}

.format-option {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.password-strength-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  justify-content: space-between;
}

.password-strength {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-grey-850);
  padding: 0.875rem var(--spacing-200);
  text-transform: uppercase;
  color: var(--color-grey-600);
}

.strength-bars {
  display: flex;
  gap: var(--spacing-100);

  & div {
    width: 0.625rem;
    height: 1.75rem;
    border: 2px solid var(--color-grey-200);
  }
}

.generate-password-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-200);
  width: 100%;
  border: 2px solid var(--color-green-200);
  padding: var(--spacing-200) var(--spacing-1300);
  background-color: var(--color-green-200);
  color: var(--color-grey-800);
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;

  /* &:hover,
  &:focus-visible {
    background-color: var(--color-grey-800);
    outline: 2px solid var(--color-green-200);
    color: var(--color-green-200);
  } */

  & img {
    width: 0.75rem;
    height: 0.75rem;
  }
}

/* display: flex;
  justify-content: center;
  margin-top: var(--spacing-100);
  width: 100%;
  border: none;
  border-radius: var(--radius-sm);
  padding: 0.5625rem var(--spacing-300);
  background-color: var(--color-green-400);
  color: var(--color-green-900);
  font-family: var(--font-family-base);
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  cursor: pointer;
  text-transform: uppercase; */
